
section {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    color: #2c3e50;
}

.education-item {
    margin-bottom: 1.5rem;
    border-left: 3px solid #2c0464;
    padding-left: 1rem;
}

h2{
    margin-bottom: 3rem;
    
}