body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color:#323232;
    
}



header {
    background-color: #323232;
    color: white;
    text-align: center;
    padding: 2rem;
}

h1{
    color: white;
    margin-top: 2rem;
}

p{
    padding: 2rem;
}
nav {
    background-color: #323232   ;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
    
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #656565;
}
