* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#titre-interets {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
}
.card1 {
    width: 30rem;
    margin-top: 2rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s, box-shadow 0.5s;
    display: flex;
    align-items: center;
    text-align: left;
}
.card1:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.card1 img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin: 0 16px;
}
.card1.reverse {
    flex-direction: row-reverse;
    text-align: right;
}
h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.right-align {
    margin-left: auto;
}