/* =========================================================================
   A PROPOS PAGE
   ========================================================================= */
.page-header {
    padding-top: 10rem;
    text-align: center;
}

.page-header p {
    max-width: 800px;
    margin: 2rem auto;
}

.about-details {
    padding: 5rem 5%;
}

.about-details .content {
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.8;
}
